<form action="/users" method="POST" id="signup">

  <p class="signup-section">Organization Info</p>

  <div class="input-row">
    <input type="text" placeholder="Organization name" name="orgName">
    <input type="text" placeholder="EIN" name="EIN">
    <input type="text" placeholder="Website" name="website">
  </div>

  <div class="input-row">
    <input type="text" placeholder="Street address" name="address.street">
    <input type="text" placeholder="Zipcode" name="address.zip">
    <input type="text" placeholder="Phone number" name="phone">
  </div>



  <p class="signup-section">Representaive Info</p>

  <%- partial('partials/_input', {name: 'representative.firstName', placeholder: 'First name'}) %>
  <%- partial('partials/_input', {name: 'representative.lastName', placeholder: 'Last name'}) %>
  <p>Date of Birth:</p>

  <div class="input-row">
    <input class="birthday" type="text" name="representative.DOB.month" placeholder="Month">
    <input class="birthday" type="text" name="representative.DOB.day" placeholder="Day">
    <input class="birthday" type="text" name="representative.DOB.year" placeholder="Year">
  </div>

  <%- partial('partials/_input', {name: 'representative.SSN', placeholder: 'SSN (last four digits)'}) %>

  <p class="signup-section">Login Info</p>

  <%- partial('partials/_input', {name: 'email', placeholder: 'Enter your email'}) %>

  <div class="input-row">
    <input type="password" placeholder="Enter your password" name="password">
  </div>

  <div class="input-row">
    <input type="password" placeholder="Verify your password" name="passwordVerify">
  </div>

  <div class="input-row">
    <input class="form-submit"type="submit" value="Sign Up">
  </div>
</form>