<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Smooth</a>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->
<!-- Main -->
<div class="container-fluid">
<div class="row">
	<div class="col-sm-3">
      <!-- Left column -->
    <div class="left-side-btns">
      <a href="localhost:3000/dashboard"><button data-icon="&#xe606;">Account Information</button></a>
      <a href="localhost:3000/"><button data-icon="&#xe607;">Customer Analysis</button></a>
      <a href="localhost:3000/"><button data-icon="&#xe608;">Organization Analysis</button></a>
      <a href="/logout"><button data-icon="&#xe602;">Log Out</button></a>
    </div>
  </div><!-- /col-3 -->

    
  </div>
</div>