<div id='geomap-container'>
	<div id="title">
	  <div>Donor Distribution by State</div>
	  
	</div>

  <div id="legend">
    <div>Top 3 donor states: Florida, Nevada, California</div>
    <br>
    <div>Bottom 3 donor states: Ohio, Kentucky, Nebraska</div>
  </div>

  <div id='info-box'>
  	<h3>State</h3>
  	<h5>Amount</h5>
  </div>

	<div id="customerMap"></div>

	<script type='text/javascript' src="javascripts/vendor/topojson.v1.min.js"></script>
	<script type='text/javascript' src="javascripts/vendor/datamaps.usa.min.js"></script>
	<script type='text/javascript' src='javascripts/geomap.js'></script>
</div>

