      <div id='scatterplot'>
        <%- partial('views/scatterplot') %>
      </div>

      <div id='piechart'>
        <%- partial('views/piechart') %>
      </div>

      <div id='geomap'>
        <%- partial('views/geomap') %>
      </div>
