<div class="orgAnalysis">

  <h3>Your Organization's Donation Analysis</h3>

  <div id="balance">
    <h4>Donation Earning Today</h4>
    <h6><%-
  </div>

  <div id="barchart"></div>

</div>

<script type='text/javascript' src='javascripts/organizationAnalysis.js'></script>