
<div id='scatter'>
		<div id="scatter-tooltip" class="hidden">
		<script type="text/javascript" src='javascripts/d3_payments_over_time.js'></script>
		</div>
		<div><span class='scatterplot-data-display'></span></div>
</div>
