
<head>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/dashboard.css">
</head>
<body>

	<div class='main-div'>
		<h3 class='thank-you'>Copy and paste the code below in your website's HTML to start collecting donations!</h3>

		<div class='key-container'>
			<xmp><iframe src="http://localhost:3000/iframe" name="<%- user.stripe_publishable_key %>" height="400px" width="210px" align="center" frameborder="0" allowTransparency="true"></iframe></xmp>
		</div>

	</div>
</body>



