
<head>
	<script type="text/javascript" src="javascripts/vendor/d3.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/userdata.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css"></link>
</head>

<!-- <div id='scatterplot'>
	<%- partial('views/scatterplot') %>
</div> -->

<div id='piechart'>
	<%- partial('views/piechart') %>
</div>

<!-- <div id='geomap'>
	<%- partial('views/geomap') %>
</div>
 -->