
<head>
	<script type="text/javascript" src="javascripts/vendor/d3.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/userdata.css">
</head>

<div>
	<%- partial('views/scatterplot') %>
</div>

<div>
	<%- partial('views/piechart') %>
</div>

<div>
	<%- partial('views/geomap') %>
</div>