<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
  <div class="container">
    <h1><%= user.email %></h1>
    <a href="/logout">Logout</a>
  </div>
</body>
</html>