<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
  <div class="container">
    <a href="/users/authorize">Click here to connect your strip account</a>
    <a href="/logout">Logout</a>
  </div>
</body>
</html>