<div id="title">
  <h1>Your Organization's Donor Distribution</h1>
</div>

<div id="container">
  <div id="legend">
    <h3>Top 3 donor states: Flordia, Nevada, California</h3>
    <h4>Bottom 3 donor states: Ohio, Kentucky, Nebraska</h4>
  </div>
    <div id="customerMap"></div>
</div>

<script type='text/javascript' src="javascripts/vendor/d3.js"></script>
<script type='text/javascript' src="javascripts/vendor/topojson.v1.min.js"></script>
<script type='text/javascript' src="javascripts/vendor/datamaps.usa.min.js"></script>
<script type='text/javascript' src='javascripts/geomap.js'></script>
</body>