<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
  <div class="container">
    <% include partials/_login-form %>
    <a href="/signup">Or sign up for a new account!</a>
    <p class="error"><%= error %></p>
  </div>
</body>
</html>