extends layout

block content
  div.container
    form#signup-form(action="/users" method="POST")
      div.input-row
        input(autocomplete="off" placeholder="Enter your email" name="email")
      div.input-row
        input(autocomplete="off" placeholder="Enter your password" name="password" type="password")
      div.input-row
        input(autocomplete="off" placeholder="Verify your password" name="passwordVerify" type="password")
      div.input-row
        input(type="submit" value="Sign Up")

    form#login-form(action="/users" method="GET")
      div.input-row
        input(autocomplete="off" placeholder="Enter your email" name="email")
      div.input-row
        input(autocomplete="off" placeholder="Enter your password" name="password" type="password")
      div.input-row
        input(type="submit" value="Login")

    if error
      p= error