<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>

  <!-- Meta tags & title /-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Smooth.Transaction</title>

  <!-- Favicon /-->
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" /> <!-- Favicon /-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Stylesheets /-->
</head>


<body>

<!-- Preload the Whole Page -->

<div id="preloader">   		
<div id="loading-animation">&nbsp;</div>
</div>


<!-- NAVIGATION ############################################### -->
		<div class="cbp-af-header">
			<nav >
				 <ul id="nav" >
					 <li><a class="sign-up" href="#">Sign Up</a></li>		 
					 <li><a class="login" href="#">Login</a></li>
				 </ul>
			</nav>
		</div> 

<!-- END NAVIGATION ############################################### -->


<!-- HEADER / FIRST SECTION ############################################### -->


<section class="page1">

		      	<!-- Huge Title centered --> 
		      
		        <div class="huge-title centered">  
		       
		          <h1>SMOOTH.TRANSACTION</h1>
		          
		          <div class="space"></div>
		          
		          <a href="#container" class="button-white goto">LEARN MORE</a> 
		  	  
		  	    </div>
		  	  
		  	    <!-- IMG DISCOVER MORE --> 
		  	  
		  	    <div class="go-down twelve columns">
		  	      <a href="#container" class="goto"><img class="goto" src="../assets/images/vendor/down.png" alt="MORE"></a>
		  	    </div>

</section>

<!-- END HEADER ############################################### -->
<!-- BEGIN CONTAINER ############################################### -->

<div id="container" class="container">

<!-- SECOND SECTION ############################################### -->

<section class="page2">

	<div class="row">
		
				<div class="six columns article make-it-appear-right">
				
					<!-- Title --> 
				
					<h3>A Elegant Design</h3>
								
					<!-- Content --> 
					
					<p>Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank. <b>Andouille</b> tongue corned beef rump pork loin shank meatball capicola turducken venison shankle kevin pancetta tri-tip boudin.</p>
										
					<div class="space"></div>
					
					<a class="js-open-modal button-blue">blue button with Modal video</a> 
					
				</div>
				
				<!-- Image from right --> 
			
				<div class="five columns picture make-it-appear-left" >
				
					<img src="../assets/images/vendor/1.png" alt="EXEMPLE">
				
				</div>
		
			</div> <!-- End row div -->    

</section>

<!-- END SECOND SECTION ############################################### -->

<!-- TIRTH SECTION ############################################### -->


<section class="page3" >

	<div class="row">

				<!-- Image from left --> 
			
				<div class="five columns picture make-it-appear-right" >
				
					<img src="../assets/images/vendor/2.png" alt="EXEMPLE">
				
				</div>

		
				<div class="six columns article make-it-appear-left">
				
					<!-- Title --> 
				
					<h3>Pretty easy to customize</h3>
								
					<!-- Content --> 
					
					<p>Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank. <b>Andouille</b> tongue corned beef rump pork loin shank meatball capicola turducken venison shankle kevin pancetta tri-tip boudin.</p>
										
					<div class="space"></div>
					
					<a class="js-open-modal button-green">Another Button</a> 
				
				</div>
				
		
			</div> <!-- End row div -->    
</section>

<!-- END TIRTH SECTION ############################################### -->

<!-- Modal Window --> 

<div class='modal sign-up-modal'>
  <h1>SMOOTH</h1>
  <%- include partials/_signup-form %>
  <!-- <a href="/">Already registered? Sign in!</a> -->
  <p class="error"><%= error %></p>
</div>

<div class="modal login-modal">
  <%- partial('partials/_login-form') %>
  <br>
  <!-- <a href="/signup">Not registered? Sign up!</a> -->
  <p class="error"><%= error %></p>
</div>


<!-- FOURTH SECTION ############################################### -->



<section class="page4">

	<div class="row">
		
				<div class="four columns article make-it-appear-right">
				
					<!-- Title --> 
				
					<h3>Pretty Simple and Detailed Code.</h3>
								
					<!-- Content --> 
					
					<p>Here is the simple exemple of the next section, as you can see, everything is pretty well detailed and easy to understand.</p>
										
					<div class="space"></div>
					
				
				</div>
				
				<!-- Image --> 
			
				<div class="seven columns picture make-it-appear-left" >
				
<pre>
		    	<!-- Article centered on the Page --> 
		
				<div class="twelve columns centered make-it-appear-top">

					<!-- Title --> 
				
					<h4>Finally! Simple and fair pricing.</h4>
													
					<!-- Content --> 
				
				
					<div class="cost">
						<p class="symbol">$</p>
						<p class="value">0</p>
					</div>
					
	
				</div>
</pre>
				
				</div>
		
			</div> <!-- End row div -->    

</section>


<!-- END FOURTH SECTION ############################################### -->
<!-- FIFTH SECTION ############################################### -->


<section class="page5">

		
		    <div class="row">
		    
		    	<!-- Article centered on the Page --> 
		
				<div class="twelve columns centered make-it-appear-top">

					<!-- Title --> 
				
					<h4>Section 5</h4>
													
					<!-- Content --> 
				
					<h1>$$$</h1>
	
				</div>
				
		
		    </div>
		
</section>


<!-- END FIFTH SECTION ############################################### -->


<!-- FOOTER SECTION ############################################### -->


<section class="footer">
		    <div class="row">
		    
		    	<!-- Article centered on the Page --> 
		
				<div class="nine columns centered">
				
					<!-- Nav Footer --> 
				
					<ul> 
						<li><a href="http://www.iamsupview.be">About Supview</a> </li> 
						<li> <a href="http://www.baribal.be/showpage/dl/">Get it</a> </li> 
						<li> <a href="http://dribbble.com/Supview">Dribbble</a> </li> 
						<li> <a href="http://www.facebook.com/Supview" rel="nofollow">Facebook</a> </li> 
						<li> <a href="http://twitter.com/Supview" rel="nofollow">Twitter</a> </li> 
						<li> <a href="http://www.behance.net/Supview" rel="nofollow">Behance</a> </li> 
					</ul>
	
				</div>
			
		    </div>
</section>


<!-- END FOOTER SECTION ############################################### -->


</div> <!-- end of container -->


  <!-- Grab Google CDN's jQuery, fall back to local if offline -->
  </body>
  
</html>