<!DOCTYPE html>
<html>
<head>
    <title>Test Stripe Node</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
  <!-- total container -->

   <%- body %>
   <script type="text/javascript" src="http://placeholdem.jackrugile.com/placeholdem.min.js"></script>
</body>
</html>