<div id="title">
  <h1>Your Organization's Donor Card Type Distribution</h1>
</div>

<div id="container">
  <h3>Card Issuer Distribution</h3>
  <div id="customerCardPieChart">
  </div>
  <div id="legend"></div>
</div>

<script type='text/javascript' src='javascripts/piechart.js'></script>
</body>