<div id="title">
  <h1>Your Organization's Donor Card Type Distribution</h1>
</div>

<div id="container">
  <div id="legend">
    <h3>Card Issuer Distribution</h3>
  </div>
    <div id="customerCardPieChart"></div>
</div>

<script type='text/javascript' src="javascripts/vendor/d3.js"></script>
<script type='text/javascript' src='javascripts/piechart.js'></script>
</body>