	<head>
      <script type="text/javascript" src="javascripts/vendor/d3.js"></script>
      <link rel="stylesheet" type="text/css" href="stylesheets/scatterplot.css">
	</head>

<body>
	<p> Click to Change Stuff </p>

	<script type="text/javascript" src='javascripts/d3_payments_over_time.js'></script>

		<div id="tooltip" class="hidden">
		        <p><strong>Donation Amount:</strong></p>
		        <p>$<span id="value">100</span></p>
		</div>

	</script>
</body>