<h2>Thank you for authenticate your account!</h3>

<h3>Your Secret Key: <%- user.access_token %></h3>
<h3>Your Publishable Key: <%- user.stripe_publishable_key %></h3>

<h3>Now copy and paste the below code to your website where you would like the donation widget to appear and start collecting donations!</h3>

<h4>some iframe code snippet</h4>

<iframe src="http://localhost:3000/iframe" name="pk_test_xBba4UgP9V7I2pq4LeVwnpF5" height="400px" width="210px" align="center" frameborder="0"></iframe>