<h2>Thank you for authenticate your account <%- user.orgName %>!</h3>

<h3>Your Secret Key: <%- user.access_token %></h3>
<h3>Your Publishable Key: <%- user.stripe_publishable_key %></h3>

<h3>Now copy and paste the below code to your website where you would like the donation widget to appear and start collecting donations!</h3>

<h4>Please copy and paste the below code in the desired donation location on your website:</h4>

<xmp><iframe src="http://localhost:3000/iframe" name="<%- user.stripe_publishable_key %>" height="400px" width="210px" align="center" frameborder="0"></iframe></xmp>