body {
 font: 15px "Avenir";
  background:none transparent;
}

input[type="text"],[type="number"],[type="submit"],[type="password"], button {
   font: 15px "Avenir";
   border: 3px solid white;
   -webkit-box-shadow:
     inset 0 0 8px  rgba(0,0,0,0.1),
           0 0 16px rgba(0,0,0,0.1);
   -moz-box-shadow:
     inset 0 0 8px  rgba(0,0,0,0.1),
           0 0 16px rgba(0,0,0,0.1);
   box-shadow:
     inset 0 0 8px  rgba(0,0,0,0.1),
           0 0 16px rgba(0,0,0,0.1);
   padding: 9px;
   background: rgba(255,255,255,0.5);
   margin: 0 0 4px 0;
}

.donate-form {
    height: 100%;
    width: 100%;

}

a {
 color: #00B7FF ;
}

.error {
  color: red;
}

#customerMap {
  width: 800px;
  height: 400px;
}

button {
  font-family: Avenir;
}

#customerCardPieChart {
  margin-left: 100px;
  width: 200px;
  height: 20px;
}

#customerCardPieChart path {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
  transition: fill 250ms linear;
  transition-delay: 150ms;
}

#customerCardPieChart path:hover {
  fill: #999;
  stroke: #000;
  transition-delay: 0;
}

.birthday {
  width: 10%;
}

.dob-label {
  font-size: 1em;
}

.signup-section {
  border-top: 1px solid #CFCFCF;
  margin-top: ;
}

.form-submit {
  width: 32%;
}

.form-submit:hover {
  background-color: #808080;
  color: white;
  cursor: pointer;
}
