<!DOCTYPE html>
<html>
<head>
    <title>Test Stripe Node</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <!-- total container -->
    <header>
        <h1>Mother template!</h1>
        <%- partial('bits.ejs') %>
     </header>

     <%- body %>

</body>
</html>