<h3>Add some sample user data</h3>

<form action="/users/test" method="post">
  <label for="title">User ID:</label>
  <input type="text" name="stripe_user_id" placeholder="1234" />
  <br>
  <br>
  <label for="price">Access Token:</label>
  <input type="integer" name="access_token" placeholder="acaslkjer45345_+asdkjf" />
  <br>
  <br>
  <input type="submit" value="Create User">
</form>