<html ng-app="myApp">

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src='/javascripts/angular-route.min.js'></script>

<script src='/javascripts/application.js'></script>
<script src='/javascripts/require.js'></script>


<div ng-controller="mainCtrl">
{{greeting}}
  <form novalidate class="simple-form">
    Name: <input type="text" ng-model="user.name" /><br />
    E-mail: <input type="email" ng-model="user.email" /><br />
    Key: <input type="text" ng-model="user.secretKey" /><br />
    Publish Key: <input type="text" ng-model="user.publishKey" /><br />
    <input type="submit" ng-click="submit(user)" value="Save" />
  </form>
  <pre>form = {{user.name}}</pre>
  <button ng-click='test()'>CLICK</button>
</div>



</html>