<form action="/users" method="Get">
  <div class="input-row">
    <input type="text" placeholder="Enter your email" name="email">
  </div>

  <div class="input-row">
    <input type="password" placeholder="Enter your password" name="password">
  </div>

  <div class="input-row">
    <input type="submit" value="Login">
  </div>
</form>