* {
 font-family: Avenir;
 color: white;
}

html {
background-image: url(../assets/images/blue.jpg) 
}

body {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.2)!important;
	color:white;
}

a, h1, h2, h3, h4 {
 color:white!important;
 text-decoration: none!important;
}

td {
 background-color: rgba(0,0,0,0.2)!important;
}

#header{
	position: absolute;
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,0.2)!important;
}

.main-div{
	position: relative;
	width: 80%;
	height: 100%;
	left: 10%;
}

.thank-you{
	margin-top: 10px;
	position: relative;
	left: 10%;
	top: 5%;
	text-align: center;
	width: 80%;
	height: 10%;
}

.key-container{

}

.navbar-static-top {
 margin-bottom:20px;
}

.panel, .panel-heading {
 margin-top:1%;
}

.panel {
background-color: rgba(0,0,0,0.2);

}

.col-sm-9, .col-sm-3 {
 /*opacity: 0.2;*/
 background-color: rgba(0,0,0,0.2);
 margin-right: 1%;
}

.col-sm-3 a{

}

.text-filler {
 position: relative;
}
 
footer {
 margin-top:20px;
 padding-top:20px;
 padding-bottom:20px;
 background-color:#efefef ;
}